.building-data-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.form-label {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color-text-secondary);
}

.form-input,
.form-select,
.form-textarea {
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    outline: none;
    width: 100%;
    font-size: 1rem; /* Consistência no tamanho da fonte */
}

.form-textarea {
    resize: vertical;
    min-height: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
}

.address-field-group {
    display: flex;
    flex-direction: column; /* Stacked on mobile by default */
    gap: 10px;
}

.address-input {
    width: 100%; /* Full width on mobile */
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) {
    .address-field-group {
        flex-direction: row; /* Side-by-side on larger screens */
        align-items: center;
    }

    .address-input {
        flex: 1; /* Takes available space on larger screens */
    }
}