.layout-container {
    display: flex;
}

.main-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

.main-content {
    flex: 1;
    padding: var(--spacing-xl);
    background-color: var(--color-bg-primary);
}